/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Montserrat' !important;
    /*background-image: url('/themes/custom/arxalex/materials/bg/bg-3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: center;*/
    background-color: #1b1b1b;
}
a:focus{
    outline: unset;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 900;
    color: white;
}
a, label {
    color: white;
}
a:hover, a:focus{
    color: white;
}
p{
    color: white;
}
div{
    color: white;
}
.main-container.container-fluid{
    padding-top: 100px;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: unset;
}
.breadcrumb{
    background-color: unset;
    padding: 0;
    font-size: 0.7em;
}
@media screen and (min-width: 768px) {
    body{
        margin-top: 0px;
    }
    .container-fluid{
        padding-left: 150px;
        padding-right: 150px;
        
    }
}
@media screen and (min-width: 1024px) {
    .container-fluid{
        padding-left: 200px;
        padding-right: 200px;
        
    }
}
.mb-3{
    margin-bottom: 1rem;
}